/* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale */
.textButton:hover {
    cursor: pointer;
    scale: 1.1;
}

.textButton {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    width: calc(80px + 1vh);
    height: calc(20px + 1vh);
    text-align: center;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.textButton:hover {
    cursor: pointer;
    scale: 1.1;
}

.textButtonGreen {
    border-color: #E2FFE9;
    box-shadow: 0px 0px 20px #8CEDA6;
    color: #E2FFE9;
    text-shadow: 0 0 10px #8CEDA6;
    margin-left: 15px;
}

.textButtonPink {
    border-color: #FFE2FF;
    box-shadow: 0px 0px 20px #E28CED;
    color: #FFE2FF;
    text-shadow: 0 0 10px #E28CED;
}

.hidden {
    display: none;
}